@model Dywq.Web.Dto.Purchase.PurchaseDTO
@{
    var user = ViewBag.CurrentUser as Dywq.Web.Dto.User.LoginUserDTO;
    var type = ViewBag.type as int?;
}
@section head{
    <link href="~/css/index10.css" rel="stylesheet" />
    <link href="~/css/company_add.css" rel="stylesheet" />

    <link href="~/css/pager.css" rel="stylesheet" />

    <script src="~/wangEditor/wangEditor.js"></script>
    <link href="~/wangEditor/wangEditor-fullscreen-plugin.css" rel="stylesheet" />
    <script src="~/wangEditor/wangEditor-fullscreen-plugin.js"></script>
    <style>
        .add_txt a {
            color: white;
        }

        .tools {
            margin-bottom: 20px;
        }

        .field-item {
            width: 100%;
        }

            .field-item span {
                width: 15%;
            }

            .field-item .cb {
                margin-left: initial;
                width: 50%;
            }

        .popbox {
            z-index: 20000;
        }

        .list {
            padding: 10px;
        }
    </style>
}



<h2>@(type == 0 ? "采购信息" : "产品信息")</h2>
<div class="tools">
    <div class="left_btns">
        <div class="addbtn">
            <span class="add_txt"><a href="javascript:history.go(-1)">返回</a></span>
        </div>
    </div>

</div>

<form id="form_data">
    <input type="hidden" name="Type" value="@(type)" />
    <input type="hidden" name="Id" value="@(Model?.Id)" />
    <input type="hidden" name="Content" value="@(Model?.Content)" />
    <input type="hidden" name="Status" value="@(Model==null?0:Model?.Status)" />
    <div class="field-group">
        <fieldset>
            <legend>填写信息</legend>
            @{
                if (Model != null)
                {
                    <div class="field-item " data-required="true">
                        <span>当前状态</span>
                        <div class="tips">@(Model?.StatusStr)</div>
                    </div>
                }
            }
            <div class="field-item">
                <span>发布单位</span>
                <input type="text" id="CompanyName" value="@(user.CompanyName)" disabled="disabled" />
            </div>

            <div class="field-item">
                <span>商品名称</span>
                <input type="text" name="ProductName" value="@(Model?.ProductName)" placeholder=" 必填" />
            </div>



            <div class="field-item ">
                <span>联系人</span>
                <input type="text" name="Contacts" value="@(Model?.Contacts)" placeholder=" 必填">
            </div>

            <div class="field-item ">
                <span>联系电话</span>
                <input type="text" name="Mobile" value="@(Model?.Mobile)" placeholder=" 必填">
            </div>

            <div class="field-item ">
                <span>产品参数</span>
                <div id="editor" style="width: 51%;">
                    <p>@(Html.Raw(Model?.Content))</p>
                </div>
            </div>

            @{
                if (Model != null)
                {
                    <div class="field-item ">
                        <span>添加时间</span>
                        <input type="text" disabled="disabled" value="@(Model?.CreatedTime)">
                    </div>
                }
            }





        </fieldset>
    </div>

</form>

<div class="btn-box">
    <input type="button" class="btn-save" value="保存" />
</div>


<!-- pop -->
<div class="popbox">
    <div class="list">

    </div>

    <!-- 底部推送 -->
    <div class="push_btns">
        <button class="push_btn_per btn push_btn_cancel">取消</button>
        @*<button class="push_btn_per btn push_btn_confirm">推送</button>*@
    </div>

</div>


@section js{
    <script type="text/javascript">
        $(function () {
            $(".btn-save").req("#form_data", "/api/Purchase/editC", function (res) {
                if (res.code != 0) {
                    alert(res.message);
                    return;
                } else {
                    alert("保存成功");
                }

            });

            var E = window.wangEditor;
            var editor = new E('#editor');
            editor.customConfig.uploadImgServer = '/api/baseapi/EditorUploadImg';
            editor.customConfig.uploadFileName = 'file';
            editor.customConfig.onchange = function (html) {
                // 监控变化，同步更新到 textarea
                console.log(html);
                $("input[name='Content']").val(html);
            }
            editor.create();
            E.fullscreen.init('#editor');

        });







    </script>

}