@model Dywq.Web.Dto.Expert.ExpertDTO
@section head{
    <link href="~/css/index8.css" rel="stylesheet" />

}

<div id="main_content">
    <div class="container">
        <div class="main_title">
            <span class="home">首页</span>/<span class="activething">专家智库</span>
        </div>

        <div style="text-align:center;"><h3>@(Model.Name)</h3></div>
        <div style="text-align:center; margin-top:20px;">@(Model.Title)</div>
        <div style="text-align:center; margin-top:20px;">@(Model.CreatedTime)</div>
        <hr />
        <div style="line-height:2;font-size:16px;">
            <div style="text-align:center;"><img  style="max-width:200px;" src="@(Model.Pic)"/></div>
            @(Html.Raw(Model.Introduction))
        </div>
    </div>
</div>




