@model Dywq.Web.Dto.User.UserDTO
@section head{
    <link href="~/css/company_add.css" rel="stylesheet" />
    <style>
        .add_txt a {
            color: white;
        }

        .tools {
            margin-bottom: 20px;
        }
    </style>
}



<h2>修改用户</h2>
<div class="tools">
    <div class="left_btns">
        <div class="addbtn">

            <span class="add_txt"><a href="javascript:history.go(-1)">返回</a></span>
        </div>
    </div>

</div>

<form id="form_data">


    <div class="field-group">
        <fieldset>
            <legend>填写信息</legend>

            <input type="hidden" value="@(Model?.Id)" name="Id" />

            <div class="field-item w-100 choice">
                <span>类型</span>

                <div class="cb">
                    <div class="cb-item">
                        <input disabled="disabled"  id="rd_4" type="radio" value="0" @(Model?.Type == 0 ? "checked=\"checked\"" : "")> <label for="rd_4">企业用户</label>
                    </div>
                    <div class="cb-item">
                        <input  disabled="disabled" id="rd_6" type="radio" value="1" @(Model?.Type == 1 ? "checked=\"checked\"" : "")> <label for="rd_6">管理员</label>
                    </div>
                </div>
            </div>


            <div class="field-item ">
                <span>用户名</span>
                <input type="text" name="UserName" placeholder=" 必填" value="@(Model?.UserName)">
            </div>
            <div class="field-item ">
                <span>密码</span>
                <input type="password" name="Password" placeholder=" 必填">

            </div>


            @{
                if (Model?.Type == 0)
                {
                    <div class="field-item user">
                        <span>真实姓名</span>

                        <input type="text" name="RealName" value="@(Model?.RealName)" placeholder=" 必填">

                    </div>
                    <div class="field-item user">
                        <span>手机号码</span>

                        <input type="text" name="Mobile" value="@(Model?.Mobile)" placeholder=" 必填">

                    </div>

                    <div class="field-item user">
                        <span>身份证号码</span>

                        <input type="text" name="IDCard" value="@(Model?.IDCard)" placeholder=" 必填">

                    </div>
                }
            }





        </fieldset>
    </div>

</form>

<div class="btn-box">
    <input type="button" class="btn-save" value="保存" />
</div>

@section js{
    <script type="text/javascript">
        $(function () {
           
            $(".btn-save").req("#form_data", "/api/user/edit", function (res) {
                if (res.code != 0) {
                    alert(res.message);
                    return;
                } else {
                    alert("修改成功");
                }

            });
        });





    </script>

}