@model Dywq.Infrastructure.Core.PageResult<Dywq.Web.Dto.Guestbook.GuestbookDTO>
@{
    if (Model.Data != null)
    {
        foreach (var item in Model.Data)
        {
            <div class="ques_sec">
                <div class="sec_top">
                    <img src="@(item.CompanyLogo)" alt="" class="quesimg">
                    <div class="top_title">
                        <h5>@(item.CompanyName)</h5>
                        <h6>@(item.CreatedTime)</h6>
                        <div class="title_con">@(item.Content)</div>
                        @{
                            if (item.GuestbookReply != null)
                            {
                                <div class="sec_top answer">
                                    <img src="/img/quesimg.png" alt="" class="quesimg">
                                    <div class="top_title">
                                        <h5>管理员</h5>
                                        <h6>@(item.GuestbookReply.CreatedTime)</h6>
                                        <div class="title_con">@(item.GuestbookReply.Content)</div>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
            </div>
        }
    }
}