@using Dywq.Infrastructure.Core.Extensions;
@model Dywq.Infrastructure.Core.PageResult<Dywq.Web.Dto.Article.PolicyArticleDTO>
@{
    var types = ViewBag.types as IEnumerable<Dywq.Web.Dto.Article.PolicyTypeDTO>;
    var typeId = (int)ViewBag.PolicyTypeId;
}
@section head{
    <link href="~/css/index3.css" rel="stylesheet" />
    <link href="~/css/pager.css" rel="stylesheet" />

    <style type="text/css">
        .paginabox .count {
            padding: 5px;
            margin: 5px;
            display: inline-block;
            min-width: 32px;
            height: 32px;
            text-align: center;
            color: rgba(102, 102, 102, 1);
            font-size: 14px;
            background: #fff;
            border-radius: 6px;
        }

        .sec_tab a {
            color: black;
            text-decoration: none;
        }

        .sec_tab li.tab_active a {
            color: white;
        }
    </style>

}
<div class="container">
    <div id="banner">
        <img src="" alt="">
        <h4>惠企政策</h4>
    </div>
</div>
<!-- sec -->
<section class="content_sec">
    <div class="container">
        <div class="sec_con">
            <ul class="sec_tab">
                @{
                    foreach (var type in types)
                    {
                        <li class="@(typeId==type.Id?"tab_active":"")"><a href="/article/policy?typeId=@(type.Id)">@(type.Name)</a> </li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="container">
        <ul class="tab_con">
            @{
                if (Model.Data != null)
                {
                    foreach (var item in Model.Data)
                    {
                        <li>
                            <div class="tab_title">
                                <div class="title_left">
                                    <div class="ling"></div>
                                    <h2><a href="/article/policyDetail/@(item.Id)">@(item.ThemeTitle.Cut(40))</a></h2>
                                </div>
                                <div class="title_right">发布日期：@(item.CreatedTime.ToString("yyyy-MM-dd"))</div>
                            </div>
                            <p>@(item.Content.Cut(300))</p>
                        </li>
                    }
                }
            }


        </ul>


    </div>

</section>

<section class="paginabox">
    @Html.Raw(Model?.Pager)
</section>


<div class="container">
    <form class="ques">
        <input type="hidden" name="Type" value="0" />
        <input type="hidden" name="ReplyId" value="0" />
        <div class="ques_title">
            <div class="ques_img">?</div>
            <h3>政策答疑</h3>
        </div>
        <div class="ques_con">
            <textarea name="Content" cols="30" rows="10" placeholder="请描述您的问题…"></textarea>
        </div>
        <div style="text-align:right;">
            <input type="button" value="提交" class="submitbtn">
        </div>
    </form>
</div>


<div class="container" style="margin-top: 20px;">

    <div class="ques_title">
        <div class="ques_img">=</div>
        <h3>全部留言</h3>
    </div>
    <!-- ques_sec -->
    <div class="guestbook">

    </div>

    <div class="seemore"><a href="javascript:getGuestbooks()">查看更多</a></div>
</div>


@section js{
    <script type="text/javascript">

        var config = { page: 1 };


        $(function () {
            $(".submitbtn").req(".ques", "/api/guestbook/AddGuestbook", function (res) {
                if (res.code != 0) {
                    if (res.message == "没有权限") {
                        alert("请先登陆账号");
                    } else {
                         alert(res.message);
                    }
                    return;
                }
                alert("留言成功");
                window.location.reload();
            });

            getGuestbooks();



        });

        var getGuestbooks = function () {
            var page = config.page;
            $.get("/article/getGuestbook?pageIndex=" + page + "&pageSize=1", function (r) {
                config.page++;
                if (r != '') {
                    $(".guestbook").append(r);
                } else {
                    $(".seemore").hide();
                    alert("没有更多留言了");
                }

            })
        }



    </script>

}
