@{
    var user = ViewBag.CurrentUser as Dywq.Web.Dto.User.LoginUserDTO;
    var types = ViewBag.types as IEnumerable<Dywq.Web.Dto.Commpany.CompanyTypeDTO>;
    var banners = ViewBag.banners as IEnumerable<Dywq.Web.Dto.Commpany.CompanyInfoDTO>;

    var companyInfos = ViewBag.companyInfos as Dywq.Infrastructure.Core.PageResult<Dywq.Web.Dto.Commpany.CompanyInfoDTO>;
}

@section head{
    <link href="~/css/pager.css" rel="stylesheet" />
    <style type="text/css">
        .companyul {
            height: 200px;
        }

        .paginabox {
            margin-top: 0;
            height:42px;
        }

            .paginabox .count {
                display: none;
            }

        .company {
            padding-bottom: 17px;
        }

        .company  a{
            color:black;
             text-decoration:none;
        }

        .bannner_con{
            width:880.5px;
            height:393.3px;
        }

        .swiper-slide img{
            height:393.3px;
        }

    </style>


}

<!-- banner -->
<section id="banner">
    <div class="container">
        <div class="row banner_content">
            <div class="col-md-9 col-sm-12 col-xs-12" style="margin-right: 26px;">
                <div class="bannner_con">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            @{
                                foreach (var item in banners)
                                {
                                    <div class="swiper-slide">
                                        <img src="@(item.IntroduceImage)" alt="">
                                    </div>
                                }

                            }


                            <div class="swiper-slide">
                                <img src="/img/banner.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/banner.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/banner.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <!--登陆-->
            <div class="col-md-3 col-sm-3 col-xs-12 login_content">
                @if (user == null)
                {
                    <div class="login_box">
                        <img src="img/loginbg.png" alt="" class="loginbg">
                        <div id="login_text">会员登录</div>
                        <form id="login_form">
                            <div class="input_sec">
                                <input type="text" name="UserName" placeholder="请输入您的账号">
                            </div>
                            <div class="input_sec">
                                <input type="password" name="Password" placeholder="请输入您的密码">
                            </div>
                            <input type="button" value="登录" class="submitbtn" />
                        </form>
                        <div class="tip_con">
                            <span class="nocount">没有账号？</span>
                            <a href="#" class="apply_ru">申请入驻</a>
                        </div>

                    </div>
                }
                else
                {
                    <div class="login_box login">
                        <div class="login_title">已登录</div>
                        <div class="login_msg">
                            <div class="login_avatar">
                                <img src="@(string.IsNullOrWhiteSpace(user.Logo)?"/img/user.png":user.Logo)" />
                            </div>
                            <div class="login_text">
                                HI，@{
                                    if (user.Type == 1)
                                    {
                                        @("管理员")
                                    }
                                    else
                                    {
                                        @(user.CompanyName)
                                    }
                                }，<br />欢迎登陆数字惠企平台
                            </div>
                        </div>
                        <div class="login_btn">
                            <input class="btn_logout" onclick="javascript: window.location.href='/user/company/list'" type="button" value="进入个人中心" />
                        </div>



                    </div>
                }

            </div>
            <!--登陆 end-->
        </div>
    </div>
</section>

<!-- section1 -->
<section id="active_con">
    <div class="container">
        <div class="commonflex">
            <div class="col-md-9 col-sm-12 col-xs-12" style="margin-right: 26px;">
                <div class="active_con_left">
                    <ul class="subject_ul companyType">
                        @{
                            var first = false;
                            foreach (var type in types)
                            {
                                <li data-type="@(type.Id)" class="@(!first?"active_coned":"")">@(type.Name)</li>
                                first = true;
                            }

                        }
                        @*<li class="active_coned">化工化学类</li>
                            <li>电子信息类</li>
                            <li>外贸进出口类</li>
                            <li>装备制造类</li>
                            <li>医疗生产类</li>
                            <li>现代服务类</li>
                            <li>仓储物流类</li>*@
                    </ul>
                    <div class="company_box">
                        <div class="company">
                            <div class="company_title">企业动态<span>Enterprise trends</span></div>

                            <div class="company_cnt">
                                <section class="companyul">
                                    <div class="line"></div>

                                    @{
                                        if (companyInfos.Data != null)
                                        {
                                            foreach (var item in companyInfos.Data)
                                            {
                                                <div class="companylist"><a href="/company/detail/@(item.CompanyId)">@(item.CompanyName)</a></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="companylist">暂无内容.</div>

                                        }

                                    }

                                    <!--div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容动态内容信息动态内容动态内容信息动态内容动态内容信息动态内容<span class="flagnum">1</span></!--div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div>
        <div class="companylist">1. 企业动态内容信息企业动态内容信息动态内容</div-->
                                </section>
                                <!-- 分页 -->
                                <section class="paginabox">
                                    @Html.Raw(companyInfos.Pager)
                                    <!--a href="#" class="prev_btn">上一页</!--a>
        <a href="#" class="page_btn choose">1</a>
        <a href="#" class="page_btn">2</a>
        <a href="#" class="page_btn">3</a>
        <a href="#" class="next_btn">下一页</a-->
                                </section>

                            </div>

                          
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="active_con_right">
                    <section class="choose_tip">
                        <div class="choose_tip_li actived_tip">活动通知</div>
                        <div class="choose_tip_li">政策速递</div>
                    </section>
                    <div class="active_con_rights_sec">
                        <section>
                            <div class="policy_li active_policy">
                                <div style="        display: flex;
        align-items: center;
">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex; align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                        </section>
                        <div class="more_btn">
                            <a href="#">查看更多  ></a>
                        </div>
                    </div>


                    <div class="active_con_rights_sec">
                        <section>
                            <div class="policy_li active_policy">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠2州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠2州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                            <div class="policy_li">
                                <div style="display: flex;align-items: center;">
                                    <span></span>
                                    <p>惠州农业中心开展新业务…</p>
                                </div>
                                <div class="date">2020-07-09</div>
                            </div>
                        </section>
                        <div class="more_btn">
                            <a href="#">查看更多  ></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ad1 -->
<section class="ad">
    <div class="container">
        <img src="img/ad1.png" alt="" class="adimg">
    </div>
</section>


<!-- section2 -->
<section class="accpet_con">
    <div class="container">
        <div class="accepts">
            <div class="accept_list1">
                <div class="common_accept_title">
                    <img src="img/downarrow.png" alt="" class="downarrow">
                    <img src="img/p1.png" alt="" class="title_img">
                    <div class="more_btn_accept">
                        <a href="#">查看更多  ></a>
                    </div>
                </div>
                <section class="sec_common">
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                </section>
            </div>
            <div class="accept_list1 center_accept">
                <div class="common_accept_title">
                    <img src="img/downarrow.png" alt="" class="downarrow">
                    <img src="img/p2.png" alt="" class="title_img">
                    <div class="more_btn_accept">
                        <a href="#">查看更多  ></a>
                    </div>
                </div>
                <section class="sec_common">
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                </section>
            </div>
            <div class="accept_list1">
                <div class="common_accept_title">
                    <img src="img/downarrow.png" alt="" class="downarrow">
                    <img src="img/p3.png" alt="" class="title_img">
                    <div class="more_btn_accept">
                        <a href="#">查看更多 </a>
                    </div>
                </div>
                <section class="sec_common">
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                    <div class="policy_li">
                        <div style="display: flex;align-items: center;">
                            <span></span>
                            <p>惠州农业中心开展新业务…</p>
                        </div>
                        <div class="date">2020-07-09</div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- ad2 -->
<section class="ad2">
    <div class="container">
        <div class="imgs">
            <img src="img/ad1.png" alt="" class="adimg2">
            <img src="img/ad1.png" alt="" class="adimg2">
        </div>
    </div>
</section>

<!-- buy -->
<div class="container">
    <section class="buy">
        <div class="buy_sec">
            <div class="buy_title">
                <img src="img/buy_img.png" alt="" class="buy_img">
                <div class="title_left">
                    企业采购信息
                </div>
                <div class="title_right">
                    <img src="img/search.png" alt="" class="search_img">
                    <input type="text" placeholder="搜索内容…" class="search_input">
                    <input type="button" value="搜索" class="search_btn">
                </div>
            </div>
            <div class="buy_con">
                <div class="buy_table">
                    <ul class="table_title">
                        <li>采购商品</li>
                        <li>公司</li>
                        <li>联系人</li>
                        <li>联系电话</li>
                    </ul>
                    <div class="table_con">
                        <ul>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buy_morebtn">
                    <a href="#">查看更多  ></a>
                </div>
            </div>
        </div>

        <div class="buy_sec">
            <div class="buy_title">
                <img src="img/buy_img.png" alt="" class="buy_img">
                <div class="title_left">
                    企业生产信息
                </div>
                <div class="title_right">
                    <img src="img/search.png" alt="" class="search_img">
                    <input type="text" placeholder="搜索内容…" class="search_input">
                    <input type="button" value="搜索" class="search_btn">
                </div>
            </div>
            <div class="buy_con">
                <div class="buy_table">
                    <ul class="table_title">
                        <li>采购商品</li>
                        <li>公司</li>
                        <li>联系人</li>
                        <li>联系电话</li>
                    </ul>
                    <div class="table_con">
                        <ul>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="tabel_con_ul">
                                    <li>乙醇</li>
                                    <li>宏盛科技 (惠州)</li>
                                    <li>王先生</li>
                                    <li>145****8989</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buy_morebtn">
                    <a href="#">查看更多  ></a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- ad3 -->
<div class="container" id="ad3">
    <div class="ad_sec_con">
        <img src="/img/ad3.png" alt="" class="ad_sec">
        <img src="/img/ad3.png" alt="" class="ad_sec">
        <img src="/img/ad3.png" alt="" class="ad_sec">
        <img src="/img/ad3.png" alt="" class="ad_sec">
    </div>
</div>

@section js{
    <script type="text/javascript">
        $(function () {
            $(".submitbtn").req("#login_form", "/api/user/login", function (res) {
                if (res.code != 0) {
                    alert(res.message);
                    return;
                }
                window.location.reload();
            });

            $(".btn_logout").req("#none", "/api/user/logout", function (res) {
                if (res.code != 0) {
                    alert(res.message);
                    return;
                }
                window.location.reload();
            });




            $(".companyType li").on("click", function () {
                let target = $(this);
                if (target.hasClass("active_coned")) return;
                let index = target.index();
                $(".subject_ul li").removeClass("active_coned");
                target.addClass("active_coned");
                var type = target.attr("data-type");
                //$(".company").hide().eq(index).show();

                getCompanyInfos(type, 1, 10);


                //alert(type);



            });

           







        });

         var getCompanyInfos = function (type,pageIndex,pageSize) {

                $.get("/company/GetCompanyInfosByType?type=" + type + "&pageIndex=" + pageIndex + "&pageSize=" + pageSize + "&linkUrl=javascript:getCompanyInfos(" + type + ",__id__," + pageSize + ")", function (r) {
                    console.log(r);
                    $(".company_cnt").html(r);


                });
            }
    </script>

}