@{
    var user = (Dywq.Web.Dto.User.LoginUserDTO)ViewBag.CurrentUser;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大亚湾区数字惠企信息平台</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/index9.css" rel="stylesheet">
    <link href="~/css/index9.ext.css" rel="stylesheet">
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ext.js"></script>
    <script src="~/js/bootstrap.js" type="text/javascript"></script>
    @RenderSection("head", false)

    <style>
        #main-nav li:first-child {
        }
    </style>


</head>
<body>
    <header>
        <a href="/"><img src="~/img/logo2.png" alt="" class="admin_logo"></a>
        <div class="right_top">
            <div class="user_defaultimg">
                <img src="@(string.IsNullOrWhiteSpace(user.Logo)?"~/img/user_default/png":user.Logo)" alt="">
            </div>
            <h4>
                欢迎您，@{
                    if (user.Type == 1)
                    {
                        @("管理员")
                    }
                    else if (user.Type == 2)
                    {
                        @("编辑")
                    }
                    else
                    {
                        @(user.CompanyName)
                    }
                }
            </h4>
        </div>
    </header>
    <div class="content">
        <div class="asidebar">
            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                @{
                    if (user.Type == 1)
                    {
                        <li>
                            <a href="/user/home/Statistic" class="nav-header" style="justify-content:initial;">
                                <img src="~/img/icon4.png" alt="" class="icon">
                                <span>我的首页</span>

                            </a>

                        </li>
                        <li>
                            <a href="javascript:;" class="nav-header">
                                <img src="~/img/icon5.png" alt="" class="icon">
                                <span>信息管理</span>
                                <img src="~/img/arrow.png" alt="" class="arrow">
                            </a>
                            <ul id="systemSetting" class="nav nav-list">
                                <li><a _href="/user/company/list;/user/company/add" href="/user/company/list"><span>企业名录</span></a></li>
                                <li><a _href="/user/news/list;/user/news/edit" href="/user/news/list"><span>通知公告</span></a></li>

                                <li><a _href="/user/investment/list;/user/investment/edit" href="/user/investment/list"><span>招建安环</span></a></li>


                                <li><a _href="/user/article/PartyBuildingArticleList;/user/article/EditPartyBuildingArticle" href="/user/article/PartyBuildingArticleList"><span>企业党建</span></a></li>
                                <li><a _href="/user/article/PolicyArticleList;/user/article/EditPolicyArticle;/user/company/search" href="/user/article/PolicyArticleList"><span>惠企政策</span></a></li>
                                <li><a _href="/user/guestbook/list" href="/user/guestbook/list"><span>留言列表</span></a></li>
                                <li><a _href="/user/expert/list;/user/expert/edit" href="/user/expert/list"><span>专家智库</span></a></li>
                                <li><a _href="/user/aboutus/list;/user/aboutus/edit" href="/user/aboutus/list"><span>关于我们</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" class="nav-header">
                                <img src="~/img/icon6.png" alt="" class="icon">
                                <span>企业信息</span>
                                <img src="~/img/arrow.png" alt="" class="arrow">
                            </a>
                            <ul class="nav nav-list">
                                <li><a _href="/user/user/list;/user/user/add;/user/user/edit" href="/user/user/list"><span>用户列表</span></a></li>
                                <li><a _href="/user/company/companynewslist;/user/company/editcompanynews" href="/user/company/companynewslist"><span>企业动态</span></a></li>

                                <li><a _href="/user/financing/list;/user/financing/edit" href="/user/financing/list"><span>企业融资</span></a></li>
                                <li><a _href="/user/cooperation/list;/user/cooperation/edit/" href="/user/cooperation/list"><span>企业对接</span></a></li>
                                <li><a _href="/user/purchase/list?type=1" href="/user/purchase/list?type=1"><span>产品信息</span></a></li>
                                <li><a _href="/user/purchase/list?type=0" href="/user/purchase/list?type=0"><span>采购信息</span></a></li>
                            </ul>
                        </li>

                    }
                    else if (user.Type == 2)
                    {
                        <li>
                            <a href="/user" class="nav-header" style="justify-content:initial;">
                                <img src="~/img/icon4.png" alt="" class="icon">
                                <span>我的首页</span>

                            </a>

                        </li>
                        <li>
                            <a href="javascript:;" class="nav-header">
                                <img src="~/img/icon5.png" alt="" class="icon">
                                <span>信息管理</span>
                                <img src="~/img/arrow.png" alt="" class="arrow">
                            </a>
                            <ul id="systemSetting" class="nav nav-list">
                                <li><a _href="/user/company/list;/user/company/add" href="/user/company/list"><span>企业名录</span></a></li>
                                <li><a _href="/user/news/list;/user/news/edit" href="/user/news/list"><span>通知公告</span></a></li>

                                <li><a _href="/user/investment/list;/user/investment/edit" href="/user/investment/list"><span>招建安环</span></a></li>

                                <li><a _href="/user/article/PartyBuildingArticleList;/user/article/EditPartyBuildingArticle" href="/user/article/PartyBuildingArticleList"><span>企业党建</span></a></li>
                                <li><a _href="/user/article/PolicyArticleList;/user/article/EditPolicyArticle;/user/company/search" href="/user/article/PolicyArticleList"><span>惠企政策</span></a></li>
                                <li><a _href="/user/guestbook/list" href="/user/guestbook/list"><span>留言列表</span></a></li>
                                <li><a _href="/user/expert/list;/user/expert/edit" href="/user/expert/list"><span>专家智库</span></a></li>
                                <li><a _href="/user/aboutus/list;/user/aboutus/edit" href="/user/aboutus/list"><span>关于我们</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" class="nav-header">
                                <img src="~/img/icon6.png" alt="" class="icon">
                                <span>企业信息</span>
                                <img src="~/img/arrow.png" alt="" class="arrow">
                            </a>
                            <ul class="nav nav-list">
                                @*<li><a _href="/user/company/AddCompanyInfo" href="/user/company/AddCompanyInfo"><span>企业资料</span></a></li>*@
                                <li><a _href="/user/company/editCompanyNewsC;/user/company/companyNewsListC" href="/user/company/companyNewsListC"><span>企业动态</span></a></li>
                                <li><a _href="/user/financing/listc;/user/financing/editc" href="/user/financing/listc"><span>企业融资</span></a></li>
                                <li><a _href="/user/cooperation/listc;/user/cooperation/editc/" href="/user/cooperation/listc"><span>企业对接</span></a></li>
                                <li><a _href="/user/purchase/listc?type=1" href="/user/purchase/listc?type=1"><span>产品信息</span></a></li>
                                <li><a _href="/user/purchase/listc?type=0" href="/user/purchase/listc?type=0"><span>采购信息</span></a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/user/" class="nav-header" style="justify-content:initial;">
                                <img src="~/img/icon4.png" alt="" class="icon">
                                <span>我的首页</span>
                               
                            </a>

                        </li>

                        <li>
                            <a href="javascript:;" class="nav-header">
                                <img src="~/img/icon6.png" alt="" class="icon">
                                <span>企业信息</span>
                                <img src="~/img/arrow.png" alt="" class="arrow">
                            </a>
                            <ul class="nav nav-list">
                                @*<li><a _href="/user/company/AddCompanyInfo" href="/user/company/AddCompanyInfo"><span>企业资料</span></a></li>*@
                                <li><a _href="/user/company/editCompanyNewsC;/user/company/companyNewsListC" href="/user/company/companyNewsListC"><span>企业动态</span></a></li>
                                <li><a _href="/user/financing/listc;/user/financing/editc" href="/user/financing/listc"><span>企业融资</span></a></li>
                                <li><a _href="/user/cooperation/listc;/user/cooperation/editc/" href="/user/cooperation/listc"><span>企业对接</span></a></li>
                                <li><a _href="/user/purchase/listc?type=1" href="/user/purchase/listc?type=1"><span>产品信息</span></a></li>
                                <li><a _href="/user/purchase/listc?type=0" href="/user/purchase/listc?type=0"><span>采购信息</span></a></li>
                            </ul>
                        </li>
                    }
                }

            </ul>
        </div>
        <div class="content_right">
            @RenderBody()
        </div>
    </div>



    <script>
        $(function () {
            $(".nav-header").click(function () {
                var target = $(this);

                var arrow = target.find("img.arrow");
                var src = arrow.attr("src");
                if (src.indexOf('arrow') > 0) {
                    arrow.attr("src", "/img/yi.png");
                } else {
                    arrow.attr("src", "/img/arrow.png");
                }
                console.log(arrow);
                $(this).next().slideToggle();
            })

            var url = window.location.href.toLowerCase();
            //alert(url);

            $("#main-nav").find("li").each(function (i, item) {
                $(item).find("li").each(function (j, _item) {
                    var a = $(_item).find("a");
                    var hrefs = $(a).attr("_href").split(";");
                    for (var k = 0; k < hrefs.length; k++) {
                        var href = hrefs[k].toLowerCase();
                        console.log(href);
                        var index = url.indexOf(href);
                        console.log(index);
                        if (index > -1) {
                            $(item).find("img.arrow").attr("src", "/img/yi.png");
                            $(_item).addClass("active");
                            $(_item).parents("ul").show();
                            return;
                        }
                    }

                });
            });

        });







    </script>

    @RenderSection("js", false);

</body>

</html>