@{
    var user = (Dywq.Web.Dto.User.LoginUserDTO)ViewBag.CurrentUser;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>企业动态</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/index9.css" rel="stylesheet">
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ext.js"></script>
    <script src="~/js/bootstrap.js" type="text/javascript"></script>
    @RenderSection("head", false)


</head>
<body>
    <header>
        <img src="~/img/admin_log.png" alt="" class="admin_logo">
        <div class="right_top">
            <div class="user_defaultimg">
                <img src="~/img/user_default/png" alt="">
            </div>
            <h4>
                欢迎您，@{
                    if (user.Type == 1)
                    {
                        @("管理员")
                    }
                    else
                    {
                        @(user.CompanyName)
                    }
                }
            </h4>
        </div>
    </header>
    <div class="content">
        <div class="asidebar">
            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                <li>
                    <a href="/user" class="nav-header">
                    <img src="img/icon2.png" alt="" class="icon">
                    <span>我的首页</span>
                    <img src="img/arrow.png" alt="" class="arrow">
                    </a>

                </li>
                <li>
                    <a href="javascript:;" class="nav-header">
                    <img src="img/icon2.png" alt="" class="icon">
                    <span>信息管理</span>
                    <img src="img/arrow.png" alt="" class="arrow">
                    </a>
                    <ul id="systemSetting" class="nav nav-list">
                        <li class="active"><a href="/user/company/list"><span>企业名录</span></a></li>
                        <li><a href="#"><span>通知公告</span></a></li>
                        <li><a href="#"><span>企业党建</span></a></li>
                        <li><a href="#"><span>惠企政策</span></a></li>
                        <li><a href="#"><span>专家智库</span></a></li>
                        <li><a href="#"><span>关于我们</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="nav-header">
                    <img src="img/icon2.png" alt="" class="icon">
                    <span>企业信息</span>
                    <img src="img/arrow.png" alt="" class="arrow">
                    </a>
                    <ul id="systemSetting" class="nav nav-list">
                        <li><a href="/user/company/companyinfolist"><span>企业动态</span></a></li>
                        <li><a href="#"><span>企业融资</span></a></li>
                        <li><a href="#"><span>企业对接</span></a></li>
                        <li><a href="#"><span>产品信息</span></a></li>
                        <li><a href="#"><span>采购信息</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.baidu.com" class="nav-header"> </a>
                </li>
            </ul>
        </div>
        <div class="content_right">
            @RenderBody()
        </div>
    </div>



    <script>
        $(".nav-header").click(function () {
            $(this).next().slideToggle();
        })
    </script>

    @RenderSection("js", false);

</body>

</html>