@model Dywq.Web.Dto.Article.PolicyArticleDTO
@{
    var types = ViewBag.types as IEnumerable<Dywq.Web.Dto.Article.PolicyTypeDTO>;
    var user = ViewBag.CurrentUser as Dywq.Web.Dto.User.LoginUserDTO;
}
@section head{
    <link href="~/css/company_add.css" rel="stylesheet" />
    <style>
        .add_txt a {
            color: white;
        }

        .tools {
            margin-bottom: 20px;
        }

        .field-item {
            width: 100%;
        }

            .field-item span {
                width: 15%;
            }

            .field-item .cb {
                margin-left: initial;
                width: 50%;
            }
    </style>
}



<h2>惠企政策详情</h2>
<div class="tools">
    <div class="left_btns">
        <div class="addbtn">
            <span class="add_txt"><a href="javascript:history.go(-1)">返回</a></span>
        </div>
    </div>

</div>

<form id="form_data">

    <input type="hidden" name="Id" value="@(Model?.Id)" />
    <div class="field-group">
        <fieldset>
            <legend>填写信息</legend>
            @{
                if (Model != null)
                {
                    <div class="field-item " data-required="true">
                        <span>当前状态</span>
                        <div class="tips">@(Model?.StatusStr)</div>
                    </div>


                    if (user.Type == 1)
                    {
                        <div class="field-item choice">
                            <span>审核</span>

                            <div class="cb">
                                <div class="cb-item">
                                    <input name="Status" id="rd_-1" type="radio" value="-1" @(-1 == Model?.Status ? "checked=\"checked\"" : "")> <label for="rd_-1">不通过</label>
                                </div>
                                <div class="cb-item">
                                    <input name="Status" id="rd_1" type="radio" value="1" @(1 == Model?.Status ? "checked=\"checked\"" : "")> <label for="rd_1">通过</label>
                                </div>
                            </div>

                        </div>
                    }



                }
            }
            <div class="field-item ">
                <span>政策类型</span>
                <select name="PolicyTypeId">
                    @{
                        foreach (var item in types)
                        {
                            <option value="@(item.Id)" @(Model?.PolicyTypeId == item.Id ? "selected=\"selected\"" : "")>
                                @(item.Name)
                            </option>
                        }
                    }
                </select>

            </div>


            <div class="field-item ">
                <span>政策主题</span>
                <input type="text" name="ThemeTitle" value="@(Model?.ThemeTitle)" placeholder=" 必填">
            </div>

            <div class="field-item ">
                <span>来源</span>
                <input type="text" name="Source" value="@(Model?.Source)" placeholder=" 必填">
            </div>

            <div class="field-item ">
                <span>政策内容</span>
                <textarea id="editor" style="width: 51%;">@(Html.Raw(Model?.Content))</textarea>
            </div>

            @{
                if (Model != null)
                {
                    <div class="field-item ">
                        <span>发布时间</span>
                        <input type="text" disabled="disabled" value="@(Model?.CreatedTime)">
                    </div>
                }
            }
            @{
                if (user.Type == 1)
                {
                    <div class="field-item ">
                        <span>显示</span>
                        <select name="Show">
                            <option value="1" @(Model?.Show == true ? "selected=\"selected\"" : "")>
                                是
                            </option>
                            <option value="0" @(Model?.Show == false ? "selected=\"selected\"" : "")>
                                否
                            </option>
                        </select>

                    </div>

                    <div class="field-item ">
                        <span>排序</span>
                        <input type="number" name="Sort" value="@(Model==null?0:Model?.Sort)" />
                    </div>
                }
            }





        </fieldset>
    </div>

</form>

<div class="btn-box">
    <input type="button" class="btn-save" value="保存" />
</div>

@section js{
    <script type="text/javascript">



        $(function () {

            var tinyID = 'editor';
            editorInit(tinyID);
            $(".btn-save").req("#form_data", "/api/article/editPolicyArticle", function (res) {
                if (res.code != 0) {
                    alert(res.message);
                    return;
                } else {
                    alert("保存成功");
                    backAndRefresh();
                }

            }
                , "post", function (data) {
                    var content = tinyMCE.editors[tinyID].getContent();
                    data.Content = content;
                    return data;
                });





        });





    </script>

}