@model Dywq.Web.Dto.Site.AboutUsDTO
@{
    var user = ViewBag.CurrentUser as Dywq.Web.Dto.User.LoginUserDTO;
}
@section head{
    <link href="~/css/company_add.css" rel="stylesheet" />

    <script src="~/wangEditor/wangEditor.js"></script>
    <link href="~/wangEditor/wangEditor-fullscreen-plugin.css" rel="stylesheet" />
    <script src="~/wangEditor/wangEditor-fullscreen-plugin.js"></script>
    <style>
        .add_txt a {
            color: white;
        }

        .tools {
            margin-bottom: 20px;
        }

        .field-item {
            width: 100%;
        }

            .field-item span {
                width: 15%;
            }

            .field-item .cb {
                margin-left: initial;
                width: 50%;
            }
    </style>
}



<h2>关于我们</h2>
<div class="tools">
    <div class="left_btns">
        <div class="addbtn">
            <span class="add_txt"><a href="javascript:history.go(-1)">返回</a></span>
        </div>
    </div>

</div>

<form id="form_data">

    <input type="hidden" name="Id" value="@(Model?.Id)" />
    <input type="hidden" name="Content" value="@(Model?.Content)" />
    <div class="field-group">
        <fieldset>
            <legend>填写信息</legend>
            @{
                if (Model != null)
                {
                    <div class="field-item " data-required="true">
                        <span>当前状态</span>
                        <div class="tips">@(Model?.StatusStr)</div>
                    </div>


                    if (user.Type == 1)
                    {
                        <div class="field-item choice">
                            <span>审核</span>

                            <div class="cb">
                                <div class="cb-item">
                                    <input name="Status" id="rd_-1" type="radio" value="-1" @(-1 == Model?.Status ? "checked=\"checked\"" : "")> <label for="rd_-1">不通过</label>
                                </div>
                                <div class="cb-item">
                                    <input name="Status" id="rd_1" type="radio" value="1" @(1 == Model?.Status ? "checked=\"checked\"" : "")> <label for="rd_1">通过</label>
                                </div>
                            </div>

                        </div>
                    }



                }
            }
            <div class="field-item ">
                <span>标题</span>
                <input type="text" name="Title" value="@(Model?.Title)" placeholder=" 必填">
            </div>

            <div class="field-item upload">
                <span>照片</span>
                <input type="file" id="PicFile" multiple />
                <input type="hidden" name="Pic" value="@(Model?.Pic)" />
                <input type="button" id="btnUpload" data-name="Pic" data-file="#PicFile" data-preview=".preview_img" value="上传" />

            </div>
            <div class="field-item">
                <span>图片预览</span>
                <img class="preview_img" src="@(Model?.Pic)" />
            </div>

            <div class="field-item ">
                <span>内容</span>
                <div id="editor" style="width: 51%;">
                    <p>@(Html.Raw(Model?.Content))</p>
                </div>
            </div>

            @{
                if (Model != null)
                {
                    <div class="field-item ">
                        <span>发布时间</span>
                        <input type="text" disabled="disabled" value="@(Model?.CreatedTime)">
                    </div>
                }
            }
            @{
                if (user.Type == 1)
                {
                    <div class="field-item ">
                        <span>显示</span>
                        <select name="Show">
                            <option value="1" @(Model?.Show == true ? "selected=\"selected\"" : "")>
                                是
                            </option>
                            <option value="0" @(Model?.Show == false ? "selected=\"selected\"" : "")>
                                否
                            </option>
                        </select>

                    </div>

                    <div class="field-item ">
                        <span>排序</span>
                        <input type="number" name="Sort" value="@(Model==null?0:Model?.Sort)" />
                    </div>

                }
            }



        </fieldset>
    </div>

</form>

<div class="btn-box">
    <input type="button" class="btn-save" value="保存" />
</div>

@section js{
    <script type="text/javascript">



        $(function () {
            $(".btn-save").req("#form_data", "/api/aboutUs/edit", function (res) {
                if (res.code != 0) {
                    alert(res.message);
                    return;
                } else {
                    alert("保存成功");
                    backAndRefresh();
                }

            });


            $("#btnUpload").uploadImg(function (r, target) {
                if (r.code == 0) {
                    var name = target.attr("data-name");
                    var preview = target.attr("data-preview");
                    $("[name='" + name + "']").val(r.data);
                    $(preview).attr("src", r.data);
                } else {
                    alert(r.message);
                }
            });



            var E = window.wangEditor;
            var editor = new E('#editor');
            editor.customConfig.uploadImgServer = '/api/baseapi/EditorUploadImg';
            editor.customConfig.uploadFileName = 'file';
            editor.customConfig.onchange = function (html) {
                // 监控变化，同步更新到 textarea
                console.log(html);
                $("input[name='Content']").val(html);
            }
            editor.create();
            E.fullscreen.init('#editor');




        });





    </script>

}